<ion-header>
  <ion-navbar>
    <ion-title>{{login}}'s details</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="icons" color="primary">
      <ion-segment-button value="camera" (ionSelect)="selectedFriends()">
        <ion-icon name="camera">Home</ion-icon>
      </ion-segment-button>
      <ion-segment-button value="bookmark" (ionSelect)="selectedFriends()">
        <ion-icon name="bookmark">Client</ion-icon>
      </ion-segment-button>
      <ion-segment-button value="loan" (ionSelect)="selectedFriends()">
        <ion-icon name="loan">Loan</ion-icon>
      </ion-segment-button>
      <ion-segment-button value="savings" (ionSelect)="selectedFriends()">
        <ion-icon name="savings">Savings</ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-card>
  <ion-item><ion-label>Account Number  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user.accountNo}}</ion-label></ion-item>
  <ion-item><ion-label>External Id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user.externalId}}</ion-label></ion-item>
 <ion-item><ion-label>Activation Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user.activationDate}}</ion-label></ion-item>
 <ion-item><ion-label>Member of &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user.externalId}}</ion-label></ion-item>
  </ion-card>

  <ion-list>
    <ion-item>
    <ion-icon name="add-circle" (click)="expandLoanButtonlick()" color="tertiary">Loan Accounts</ion-icon>
      <ion-badge item-right>1</ion-badge>
    </ion-item>
     <ion-list *ngIf="isShowloansegment">
    <button ion-item *ngFor="let loanAccount of loanAccounts" (click)="goToDetails(client.id)">
     <ion-item>{{ loanAccount.accountNo }} &nbsp;&nbsp;&nbsp;&nbsp; {{ loanAccount.productName }} &nbsp;&nbsp;&nbsp;&nbsp;{{ loanAccount.amountPaid }} 
      <ion-icon name="arrow-forward" item-right></ion-icon></ion-item><br>
    </button>
  </ion-list>
    <ion-item>
    <ion-icon name="add-circle" (click)="expandSavingsButtonlick()" color="tertiary">Savings Accounts</ion-icon>
      <ion-badge item-right>1</ion-badge>
    </ion-item>
     <ion-list *ngIf="isShowSavingsSegment">
    <button ion-item *ngFor="let savingAccount of savingsAccounts" (click)="goToDetails(client.id)">
     <ion-item><ion-icon name="square" color="secondary"></ion-icon> &nbsp;{{ savingAccount.accountNo }} &nbsp;&nbsp;&nbsp;&nbsp; {{ savingAccount.productName }} &nbsp;&nbsp;&nbsp;&nbsp;{{ savingAccount.accountBalance }} 
      <ion-icon name="arrow-forward" item-right></ion-icon></ion-item><br>
    </button>
  </ion-list>
    <ion-item>
    <ion-icon name="add-circle" (click)="expandRecurringButtonlick()" color="tertiary">Recurring Accounts</ion-icon>
      <ion-badge item-right>1</ion-badge>
    </ion-item>
     <ion-list *ngIf="isShowRecurringSegement">
    <button ion-item *ngFor="let client of recurringsAccounts" (click)="goToDetails(client.id)">
      <ion-avatar item-left>
        <img [src]="client.avatar_url">
      </ion-avatar>
      <h2>{{ client.displayName }}</h2>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
  </ion-list> 
   <ion-item>
    <ion-icon name="add-circle" (click)="expandPartialLoanButtonlick()" color="tertiary">Partial Loan</ion-icon>
      <ion-badge item-right>1</ion-badge>
    </ion-item>
     <ion-list *ngIf="isShowPartialLoanSegment">
    <button ion-item *ngFor="let client of partialLoans" (click)="goToDetails(client.id)">
      <ion-avatar item-left>
        <img [src]="client.avatar_url">
      </ion-avatar>
      <h2>{{ client.displayName }}</h2>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
  </ion-list> 
   <ion-item>
    <ion-icon name="add-circle" (click)="expandCbCheckButtonlick()" color="tertiary">Cb Check </ion-icon>
      <ion-badge item-right>1</ion-badge>
    </ion-item>
     <ion-list *ngIf="isShowCbCheckSegment">
    <button ion-item *ngFor="let cbcheck of cbChecks" (click)="goToDetails(client.id)">
      <ion-item>{{ savingAccount.accountNo }} &nbsp;&nbsp;&nbsp;&nbsp; {{ savingAccount.productName }} &nbsp;&nbsp;&nbsp;&nbsp;{{ savingAccount.accountBalance }} 
      <ion-icon name="arrow-forward" item-right></ion-icon></ion-item><br>
    </button>
  </ion-list>
  </ion-list>    
</ion-content>
